@import "_variables.scss";
.section-four {
    height: 100vh;
    background-image: url(../media/g.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    margin-bottom: 1rem;
  }
.header-third{
  text-align: center;
  color: white;
  font-size: 300%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 45vw;
    background-color: white;
    text-align: center;
    border: 1.5rem solid grey;
}
.text-box{
    font-size: 300%;
    @include phone{
        font-size: 1rem;
    }
    @include tablet{
        font-size: 2rem;
    }
}

