.intro {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(color(primary), 0.5),
      rgba(color(primary-light), 0.5)
    ),
    url(../media/london.jpg);
  background-position: top;
  background-size: cover;

  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 300%;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: color(primary);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16;
  cursor: pointer;
}
.zero {
  opacity: 0.6;
  border-radius: 1rem;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2),
    0 12px 50px 0 rgba(0, 0, 0, 0.19);
}
.zero:hover {
  opacity: 1;
  transition: all 0.3s ease 0s;
}
.zero:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
