@import "_variables.scss";
.header-second{
  text-align: center;
  color: white;
  font-size: 300%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.section-three {
  height: 100vh;
  background-image: url(../media/bridge.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
}
.card-container{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  @include tablet {
    flex-direction: column;
    justify-content: space-evenly;
  }
  @include laptop {
    flex-direction: row;
    justify-content: space-evenly;
  }
  @include desktop {
    flex-direction: row;
    justify-content: space-around;
  }
}
.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    height: auto;
}
.card-side{
  z-index: 1;
  transition: all 1s;
  font-size: 3rem;
  color: white;
  backface-visibility: hidden;
  @include tablet {
    height: 10rem;
    width: 10rem;
  }
  @include laptop {
    height: 50rem;
    width: 30rem;
  }
  @include desktop {
    height: 60rem;
    width: 35rem;
  }
}
.card-side-front{
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-side-front-1{
  background-image: url(../media/site.jpg);
}
#card-side-front-2{
  background-image: url(../media/e.jpg);
}
#card-side-front-3{
  background-image: url(../media/f.jpg);
}
.card-side-back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform: rotateY(180deg);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-side-back-1{
opacity: 0.7;
  }
  #card-side-back-2{
opacity: 0.7;
  }
  #card-side-back-3{
 opacity: 0.7;
  }
.card:hover .card-side-front {
    transform: rotateY(-180deg);
  }
   
  .card:hover .card-side-back {
    transform: rotateY(0deg);
  }
